---
layout: misc
title: Published Articles
---

<div style="width: 100%; margin: auto">
<b>All articles are organized by publisher. Click on them to read the full text.</b><br>

<h3><a href="https://synbiobeta.com/">SynBioBeta</a></h3>
<a href="https://synbiobeta.com/meet-the-8-tech-titans-investing-in-synthetic-biology/">Meet the 8 Tech Titans Investing in Synthetic Biology</a> (with John Cumbers) - originally published on <a href="https://www.forbes.com/sites/johncumbers/2019/09/14/meet-the-8-tech-titans-investing-in-synthetic-biology/#7e306b75a64b">Forbes</a><br><br>

<a href="https://synbiobeta.com/new-this-ski-season-a-jacket-brewed-from-spider-silk/">New This Ski Season: A Jacket Brewed from Spider Silk</a> (with John Cumbers) - originally published on <a href="https://www.forbes.com/sites/johncumbers/2019/08/28/new-this-ski-season-a-jacket-brewed-from-spider-silk/#14b06fdf561e">Forbes</a><br><br>

<a href="https://synbiobeta.com/how-aquaculture-innovation-can-save-seafood/">How Aquaculture Innovation Can Save Seafood</a><br><br>

<a href="https://synbiobeta.com/how-synthetic-biology-is-dyeing-the-future-of-fashion/">How Synthetic Biology is Dyeing the Future of Fashion</a><br><br>

<a href="https://synbiobeta.com/spibers-biomaterials-stack-from-new-production-facility-to-fashion-runway/">Spiber’s biomaterials stack: From new production facility to fashion runway</a><br><br>

<a href="https://synbiobeta.com/one-lab-in-germany-is-using-robots-to-advance-computer-aided-synthetic-biology/">One lab in Germany is using robots to advance computer-aided synthetic biology</a><br><br>

<a href="https://synbiobeta.com/how-automation-and-machine-learning-help-explore-the-dark-corners-of-the-genome/">How Automation and Machine Learning Help Explore the Dark Corners of the Genome</a><br><br>

<a href="https://synbiobeta.com/synthetic-biology-gets-a-makeover-with-evonetixs-dna-synthesis-technology/">Synthetic biology gets a makeover with Evonetix’s DNA synthesis technology</a><br><br>

<a href="https://synbiobeta.com/synthetic-biology-for-sustainable-cities/">Synthetic biology for sustainable cities</a> (with John Cumbers) - Also published in <a href="https://meetingoftheminds.org/synthetic-biology-for-sustainable-cities-30857">Meeting of the Minds</a> and <a href="https://www.greenbiz.com/article/how-synthetic-biology-can-help-build-sustainable-cities">GreenBiz</a><br><br>

<a href="https://synbiobeta.com/why-carbon-recycling-could-be-synthetic-biologys-crowning-achievement/">Why carbon recycling could be synthetic biology’s crowning achievement</a><br><br>

<a href="https://synbiobeta.com/biology-unlocked-emerging-applications-of-cell-free-systems/">Biology Unlocked: Emerging Applications of Cell-Free Systems</a><br><br>

<a href="https://synbiobeta.com/biotechnology-meets-fashion-and-sports-performance-trends-in-the-apparel-industry/">Biotechnology meets fashion and sports performance: Trends in the apparel industry</a><br><br>

<a href="https://synbiobeta.com/finding-a-needle-in-the-cancer-haystack/">Finding a Needle in the Cancer Haystack</a><br><br>

<a href="https://synbiobeta.com/living-medicines-engineering-the-microbiome/">Living Medicines: Engineering the Microbiome</a><br><br>

<a href="https://synbiobeta.com/synthetic-biology-and-reproducibility-meet-on-the-internet-of-things/">Synthetic biology and reproducibility meet on the Internet (of Things)</a><br><br>

<a href="https://synbiobeta.com/synthetic-life-made-from-scratch/">Synthetic Life: Made from Scratch</a><br><br>

<a href="https://synbiobeta.com/scientists-are-engineering-organisms-to-create-new-materials/">Scientists are Engineering Organisms to Create New Materials</a><br>

<h3><a href="https://massivesci.com/">Massive Science</a></h3>
<a href="https://massivesci.com/articles/gene-editing-crispr-cas-wrong-studies-experiment-enzyme-genetics/">Here’s why many CRISPR/Cas9 experiments could be wrong – and how to fix them</a><br><br>

<a href="https://massivesci.com/notes/antarctic-lakes-parasite-interaction-extremophiles/">New parasitic interaction discovered in Antarctic lakes</a><br><br>

<a href="https://massivesci.com/notes/exploding-antibody-bacteria-ecoli-in-mice-cancer/">Fighting cancer with exploding antibody-filled bacteria</a><br>

<h3><a href="https://caltechletters.org/">Caltech Letters</a></h3>

<a href="https://caltechletters.org/science/bananas-and-synthetic-biology">How Synthetic Biologists Could Save the Cavendish Banana from the Brink of Collapse</a><br> 

<h3><a href="https://blogs.plos.org/synbio/">PLoS Synthetic Biology Blog</a><i> (Interview Series)</i></h3>

<a href="https://blogs.plos.org/synbio/2019/11/13/science-behind-the-scenes-multiplexed-crispr-and-sgrna-arrays-with-the-howard-salis-lab/">Science Behind-the-Scenes:</a> Multiplexed CRISPR and sgRNA Arrays with the Howard Salis Lab<br><br>

<a href="https://blogs.plos.org/synbio/2019/11/04/science-behind-the-scenes-crispr-for-metabolic-engineering-with-dr-raphael-ferreira/">Science Behind-the-Scenes:</a> CRISPR for Metabolic Engineering with Dr. Raphael Ferreira<br><br>

<a href="https://blogs.plos.org/synbio/2019/10/11/microbial-consortia-sbts/">Science Behind-the-Scenes:</a> Engineering Microbial Consortia with Dr. Marika Ziesack<br><br>

<a href="https://blogs.plos.org/synbio/2019/10/25/science-behind-the-scenes-tethered-ribosomes-with-dr-erik-carlson/">Science Behind-the-Scenes:</a> Tethered Ribosomes with Dr. Erik Carlson<br><br>

<a href="https://blogs.plos.org/synbio/2019/10/18/science-behind-the-scenes-do-it-yourself-od-measurements-with-dr-chinna-devarapu-and-vamsi-yallapgragada/">Science Behind-the-Scenes:</a> Do-It-Yourself OD Measurements with Dr. Chinna Devarapu and Vamsi Yallapgragada<br>

<h3><a href="http://isciencemag.co.uk/">I, Science Magazine</a></h3>
<a href="http://isciencemag.co.uk/uncategorized/whats-next-predicting-the-top-scientific-breakthroughs-of-2018/">What’s Next:</a> Predicting the Top Scientific Breakthroughs of 2018<br><br>

<a href="http://isciencemag.co.uk/uncategorized/yeast-have-been-engineered-to-produce-antimicrobials/">Yeast Have Been Engineered to Produce Antimicrobials</a><br>

<h3><a href="https://littlevillagemag.com/">Little Village Magazine</a></h3>
<a href="https://littlevillagemag.com/iowas-dwindling-bee-population-is-part-of-a-larger-frightening-trend/">Iowa’s dwindling bee population is part of a larger, frightening trend</a> (cover story)<br><br>

<a href="https://littlevillagemag.com/university-of-iowa-genetic-engineering-biodegradable-plastic/">UI students are rewiring genes to create biodegradable plastic</a><br><br>

<a href="https://littlevillagemag.com/by-poking-cells-a-university-of-iowa-lab-studies-the-science-of-healing/">By ‘poking’ cells, a University of Iowa lab studies the science of healing</a><br><br>

<a href="https://littlevillagemag.com/five-groundbreaking-research-projects-at-the-university-of-iowa/">Six groundbreaking research projects at the University of Iowa</a><br><br>

<a href="https://littlevillagemag.com/best-and-worst-of-2017/">The best and worst of 2017 (in science)</a><br>

<h3>Iowa City <a href="http://www.iowacityofliterature.org/">UNESCO City of Literature</a></h3>

<a href="http://www.iowacityofliterature.org/faces-of-the-city-of-literature-john-kenyon/">Faces of the City of Literature:</a> John Kenyon<br><br>

<a href="http://www.iowacityofliterature.org/faces-of-the-city-of-literature-andrea-wilson/">Faces of the City of Literature:</a> Andrea Wilson<br><br>

<a href="http://www.iowacityofliterature.org/faces-city-literature-nialle-sylvan/">Faces of the City of Literature:</a> Nialle Sylvan<br>

<h3>Phi Beta Kappa's <i><a href="http://keyreporter.org/">The Key Reporter</a></i></h3>

<a href="http://www.keyreporter.org/PbkNews/PbkNews/Details/1823.html">Scientists: On Your Mark, Get Set, PAINT!</a><br><br>

<a href="http://www.keyreporter.org/PbkNews/PbkNews/Details/1931.html">Science Communication is Gaining STEAM</a><br><br>

<a href="http://www.keyreporter.org/PbkNews/PbkNews/Details/1942.html">Interview with Audrey Bahrick</a><br><br>

<a href="http://www.keyreporter.org/AlumniNews/MemberSpotlight/Details/1836.html">Member Spotlight: Cornel West</a><br><br>

<a href="http://www.keyreporter.org/PbkNews/PbkNews/Details/1924.html">Edwin L. Sabin: Life of the Literary Frontiersman</a><br>

<h3><a href="https://ir.uiowa.edu/synthesis/vol1/iss1/">Synthesis:</a> A Digital Journal of Student Science Communication</h3>
<a href="https://ir.uiowa.edu/cgi/viewcontent.cgi?article=1004&context=synthesis">Diabetes: A History</a><br><br>

<a href="https://ir.uiowa.edu/cgi/viewcontent.cgi?article=1006&context=synthesis">A New Class of Antibiotics Could Stop Drug-Resistant Bacteria in their Tracks</a><br>

<h3>Medium</h3>
Lots of Articles. Click <a href="https://medium.com/@NikoMcCarty">here</a> to read them. 

</div>

{% for post in site.categories.cv %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}


