---
layout: misc
title: Super Brief Vitae
---

<div style="width: 100%; margin: auto">

<h3>Education</h3>

<b>B.Sc. Biochemistry</b> with certificate in Clinical & Translational Science (Honors, University Honors, High Distinction), University of Iowa (2017)<br><br>
<b>MRes, Systems and Synthetic Biology</b> Imperial College London (2018)<br><br>
<b>MS, Bioengineering</b> California Institute of Technology (2020)<br>
    <i>Dropped out of PhD program during COVID pandemic.</i>
</div>

<h3>Publications</h3>
<b>McCarty NS</b>, Graham AE, Studena L and Ledesma-Amaro R. "Multiplexed CRISPR technologies for gene editing and transcriptional regulation." <i>Nature Communications</i> (2020). <a href="https://www.nature.com/articles/s41467-020-15053-x"><b>Link to article.</b></a><br><br>

Riehle C, Weatherford ET, Wende AR, Jaishy BP, Seei AW, <b>McCarty NS</b>, Rech M, Shi Q, Reddy GR, Kutschke WJ, Oliveira K, Pires KM, Anderson JC, Diakos NA, Weiss RM, White MF, Drakos SG, Xiang YK and Abel ED. "Insulin Receptor Substrates Differentially Exacerbate Insulin-Mediated Left Ventricular Remodeling." <i>JCI Insight</i> (2020). <a href="https://insight.jci.org/articles/view/134920"><b>Link to article.</b></a><br><br>
    
<b>McCarty NS</b>, Shaw WM, Ellis T and Ledesma-Amaro R. "Rapid Assembly of gRNA Arrays via Modular Cloning in Yeast." <i>ACS Synthetic Biology</i> (2019). Plasmids on <a href="https://www.addgene.org/browse/article/28203286/">Addgene</a>. <a href="https://pubs.acs.org/doi/10.1021/acssynbio.9b00041"><b>Link to article.</b></a><br><br>

<b>McCarty NS</b> and Ledesma-Amaro R. "Synthetic Biology Tools to Engineer Microbial Consortia for Biotechnology." <i>Trends in Biotechnology</i> (2019). Featured in <a href="https://www.sciencedirect.com/journal/trends-in-cognitive-sciences/special-issue/103FC986131">Trends Collection on Communication</a>. <a href="https://www.cell.com/trends/biotechnology/fulltext/S0167-7799(18)30312-3"><b>Link to article.</b></a><br><br>

Riehle C, Scharf GM, Sieweke JT, Zauner F, Flierl U, Treptau J, Zormpas C, Senf J, <b>McCarty NS</b>, Bauersachs J, Sedding DG and Westhoff-Bleck M. "Leukocytoclastic Vasculitis Associated with Endocarditis in a Patient with Transposition of the Great Arteries and Mechanical Valve Replacement." <i>Cardiovascular Pathology</i> (2017). <a href="https://europepmc.org/article/med/28171828"><b>Link to article.</b></a><br>

<h3>Selected Honors</h3>
2019 Pilot Grant, <a href="http://microbiology.caltech.edu/index.html">Center for Environmental Microbial Interactions</a> at Caltech<br>
2018 Outstanding Student of the Year in Synthetic Biology (top marks in course, Imperial)<br>
2018 <a href="http://www.fulbright.org.uk/news/first-annual-barzun-prize-for-youth-engagement-awarded-for-fulbrighter-projects">Barzun Prize</a> for Youth Engagement<br>
2017 <a href="http://fulbright.org.uk/">Fulbright - Imperial College London Partnership Award</a><br>
2017 Fellow, <a href="https://www.thersa.org/">Royal Society of Arts</a><br>
2017 <a href="https://www.grad.uiowa.edu/funding/fellowships/internal/callen-prize">Joseph E. and Ursil I. Callen</a> Prize<br>
2017 <a href="https://medicine.uiowa.edu/biochemistry/education/undergraduate-program/biochemistry-undergraduate-awards">Montgomery</a> Biochemistry Scholar's Prize<br>
2016 <a href="https://goldwater.scholarsapply.org/">Barry Goldwater</a> Scholar<br>
2015 <a href="https://www.endocrine.org/awards/summer-research-fellowships">Endocrine Society</a> Summer Research Fellowship<br>
</div>

{% for post in site.categories.cv %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}


